{% include head.html %}
<body>
    {% if site.tooltip-enabled %}{% include tooltip.html %}{% endif %}
    {% include header.html %}
    <main class="content" role="main">
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title">Pautas, consideraciones y recomendaciones</h2>
            </header>
            <section class="post-excerpt" itemprop="description">
                ¡Conocé más sobre cómo enseñamos y evaluamos! Acá vas a encontrar pautas tanto técnicas como humanas
                que (esperamos) te ayudarán a aprovechar y disfrutar más la materia. Es una lectura <strong>muy recomendada</strong>.
            </section>
            <div class="buttons-content">
                <a class="post-button" href="{{site.baseurl}}/pautas/sobre-la-cursada">Sobre la cursada</a>
                <a class="post-button" href="{{site.baseurl}}/pautas/sobre-los-parciales">Sobre los parciales</a>
                <a class="post-button" href="{{site.baseurl}}/pautas/sobre-los-trabajos-practicos">Sobre los trabajos prácticos</a>
            </div>
        </article>
        <hr>
        <article class="post" role="article">
                <header class="post-header">
                    <h2 class="post-title">Bitácora</h2>
                </header>
                <section class="post-excerpt" itemprop="description">Podes ver años anteriores <a href="{{site.baseurl}}/bitacoras/bitacoras-anteriores/">acá</a></section>
                <div class="buttons-content">
                    <a class="post-button" href="{{site.baseurl}}/bitacoras/2025/viernes-n">Viernes (Noche)</a>
                </div>
            </article>
            <hr>
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title">Apuntes</h2>
            </header>
            <section class="post-excerpt" itemprop="description">También podés verlos <a href="{{site.baseurl}}/apuntes/">acá</a></section>
            </section>
            <div class="buttons-content">
                <a class="post-button" href="{{site.baseurl}}/apuntes/arquitectura">Arquitectura</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/herramientas">Herramientas Tecnológicas</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/persistencia">Persistencia</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/rest">REST</a>
                <a class="post-button" href="{{site.baseurl}}/apuntes/ui">Interfaz de Usuario</a>
            </div>
        </article>
        <hr>
        <article class="post" role="article">
            <header class="post-header">
                <h2 class="post-title">Enunciados</h2>
            </header>
            <section class="post-excerpt" itemprop="description">También podés verlos <a href="{{site.baseurl}}/enunciados/">acá</a></section>
            <div class="buttons-content">
                <a class="post-button" href="{{site.baseurl}}/enunciados/parte-a">Parte A</a>
                <a class="post-button" href="{{site.baseurl}}/enunciados/parte-b">Parte B</a>
                <a class="post-button" href="{{site.baseurl}}/enunciados/integradores">Integradores</a>
            </div>
        </article>
    </main>
    {% include footer.html %}
    {% include javascripts.html %}
</body>
